/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@media (min-width: 992px){
    .modal-lg {
        width: 100% !important;
        height: 100% !important;
        bottom: 0 !important;
        position: absolute;
        margin: 0;
    }

        .modal-lg {
            max-width: 100%;
            max-height: 100%;
        }
}
.modal-content {
    height: 100%;
}
/* 
.custom-modal{
    width: 100% !important;
    height: 100% !important;
    bottom: 0 !important;
    position: absolute;
    margin: 0;
} */